@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

body{
    font-family: 'Galada', cursive !important;
    background-image: url("../img/img_4156.jpg");
    background-repeat: repeat;
}
header{
    position: sticky;
    top: 0;
    background-color: #028484;
    color:white;
    z-index: 1000;
    text-shadow: 0 0 5px black;
    margin-right: 0px !important;
}
header h1, h3{
    text-align: center;
    /*padding: 10px;*/
}
iframe{
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 0%; 
    margin-right: 0px !important;  
    border: 0mm;
}

footer{
    overflow: hidden;
    color:white;
    background-color: #028484;
    margin: auto;
}
.navbar{
    background-color: #028484 !important;
}
.navbar .a{
    margin-right: 10%;
    margin-left: 10%;
    color:white !important;
    
}
.navbar .navbar-collapse .nav a{
    color:white !important; /*a menüpontok szövege*/
}
#navbarNav ul.nav.navbar-nav.row li.dropdown.col.show ul li a{
    color:black !important; /*a menüpontok szövege*/
}
.navbar-right a{
    color:white !important; /*a menüpontok szövege*/
}
.slide-text{
    color: black;
    text-shadow: 0 0 5px white;
}
#centertext{
    border-top: 100px;
    text-align: center !important;
    color: blanchedalmond;
}
#centertext ul{
    text-align: left;
}
#centertext ul li :hover{
    text-shadow: 2px 2px 5px black;
}
#twomain{
    text-align: center !important;
    background-color: white;
    
}
#treemain{
    text-align: center !important;
    background-color: white;
    border-radius: 5rem;
}
